body    {background-color: lightgray}
        body {margin: 0 25% 0;}
        body{font-family: Verdana, "Lucinda Sans", "Liberation Sans", sans-serif}
        
        body {font-size: 100%;}
        
        h1 {font-size: 2em;}
        h2 {font-size: 1.6em;}
        h3 {font-size: 1em}
        p, li, dd, dt {font-size: .87em;}
        p, li, dd, dt {line-height: 2;}
        h2 {color: white}
        ul li {list-style-type: square}
        h1 {text-transform: uppercase}
        dt {font-weight: bold}

h1 {
  text-align: center;
    font-family:fantasy;
    
}
	   
#nav ul {
    list-style: none;
    background-color: darkgray;
    text-align: center;
    padding: 0;
    margin: 0;
		}
		
#nav li {
    font-family: 'Oswald', sans-serif;
    display: inline;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
}
#nav a {
    font-family: 'Oswald',sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
}
#nav before {
    position: absolute;
    width: 100%;
    height: 3px;
    background:#16151B;
    top: 47%;
    
}
		
#nav hover {
    background-color: #005f5f;
    text-decoration: line-through;
}
		
#nav active {
    background-color: #fff;
    color: #444;
    cursor: default;
    outline: none;
    box-shadow: none;
}
#nav visited{
    
    text-decoration: line-through;  
}
			
		

			
			}
.header {
    padding: 20px;
    margin-top: 
    text-align: center;
    background-color: lightgray;
    color:white;
    font-size: 30px;
}
#priya {
    float: right;
    margin: 0 0 2em 2em;
    
}
#aside {
    float:left;
    margin: .5em 1.2em 1.2em 0;
}

a {
  color: white;
    font-family: Verdana;
    text-decoration: none;
    text-transform: none;
}

a:hover {
   text-decoration: line-through; 
}

a:active {
    color: white;      
}

a:visited {
    color:white;    
}

#left {
    width:47%;
    float:left;
    margin-right: 5%;
    
    
}

#right {
    width: 47%;
    float:right;
    
    
    
}

#footer {
    clear:both;
    
}










